/*Đây là đoạn mã CSS Reset, một phần cực kỳ quan trọng giúp "dọn dẹp" các cài đặt mặc định của trình duyệt. Nó đảm bảo trang web của bạn hiển thị đồng nhất trên Chrome, Safari, Edge hay Firefox.*/
* {
  box-sizing: border-box;/*Khi bạn đặt chiều rộng 100px và padding 10px, cái hộp vẫn sẽ rộng đúng 100px thay vì bị nở ra thành 120px.*/
}
html {
  overflow: auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video { /*Loai bo khoang cach thua ma trinh duyet tu them vao*/
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;/*rình duyệt mặc định font là 16px. $16px \times 62.5\% = 10px$. Từ giờ, khi bạn dùng 1.6rem, nó sẽ tương đương đúng 16px, 1.8rem là 18px.*/
}

body {
  font-family: "Archivo", sans-serif;/* Font chữ chủ đạo của trang web */
  font-size: 1.6rem;/* Chữ mặc định là 16px */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;/* Giúp nét chữ trên máy Mac/iPhone trông thanh mảnh, sắc nét hơn */
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;/* Chặn thanh cuộn ngang (giúp trang web không bị xô lệch sang hai bên) */
}
